{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>Logout</h2>
    
    <form action="{$url}{$lang}/logout/comprobar" method="post">
        <input type="radio" name="confirm" value="si" checked>Si<br>
        <input type="radio" name="confirm" value="no">No<br>
        <label></label><input type="submit" value="Validar">
    </form>

 </div>
{include file="template/footer.tpl" title="footer"}