@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

#central_oficina {top:0px;}

fieldset {border-radius:10px; background-color:#f0f0f0; border-color:#2f96b4; box-shadow:1px 1px 1px #999; color:#000}

.footer { background:url('../../img/header-bottom.jpg') repeat-x; color:#FFF;}
.enlace {color:#003C58 !important;}
.enlace:hover {color:#990000 !important;}
.texto_resaltado {color:#2f96b4;}
.submenu_titulo {color:#2f96b4;}
.tablaContratos {background-color:#f0f0f0; box-shadow:1px 1px 1px #999; color:#000}
.TablaConsumos{background-color:#f0f0f0; box-shadow:1px 1px 1px #999; color:#000}

a.button { color:#FFF; font-size:12px; line-height:15px; font-weight:bold; background:url(../../img/oficina/button.jpg) 0 0 repeat-x #252525; border-top:#505050 1px solid; border-bottom:#171717 1px solid; display:inline-block; padding:5px 10px 7px 10px; border-radius:4px; box-shadow:0 1px 1px #1a1a1a; text-decoration:none; cursor:pointer;}
a.button:hover {background:#3b3b3b;}

.color_fondo_cabecera_contrato {/*background-color:#F0FBFF;*/}

.cuadro_ventajas_cuerpo{ background-color:#F0FBFF;}
.td_fondo_amarillo{ background-color:#F0FBFF;}

.menu_oficina{ margin-left:0px; text-align:center; border-bottom:1px #2f96b4 solid }
.componente_menu_oficina{ float:right; }

.idioma_marcado{opacity:1}

/* FUENTE */
.arialblack18Titulo {color:#2f96b4; text-shadow:2px 2px 2px #000}
.arialblack14 {color:#2f96b4;}
.arial14 {font-weight:bold; color:#FFF;}
.arial12 {color:#FFF;}

/* LOGIN */
.posicion_login {background-color:#E3EDF2; border-color:#FFF; color:#000; font-weight:bold; border:#94BACD 2px solid; box-shadow:1px 1px 1px #999}

/* SUBMENU */
a.submenu {color:#FFF; font-size:13px;}
a.submenu:hover {color:#00B2F2; font-size:13px;}
a.submenu_subseccion {color:#FFF; font-size:10px;}
a.submenu_subseccion:hover {color:#00B2F2;}
a.submenu_seleccionado {color:#00B2F2;}

.submenu_filete_superior {background-color:#006699; background:none; background-color:transparent}
.submenu_filete_inferior {background-color:#006699;}
/*.submenu_filete_ofi {background-color:#006699;}*/
	
/* FORMULARIOS */
/*input {border-color:#006699;}*/
.textfield { border:1px solid #006699; }
.color_fondo_datos_contrato { /*background-color:#FFF;*/ }

nav {height:31px; /*margin-top:-70px;*/ width:750px; float:right}

nav li {
	padding:0px 10px 2px 10px; display:inline; position:relative; top:-11px; float:right; text-align:center; margin:0px 1px 0px 1px;
	/*transform:skew(-12deg, 0deg);
	-webkit-transform: skew(-12deg, 0deg) ; 
	-moz-transform: skew(-12deg, 0deg) ; 
	-o-transform: skew(-12deg, 0deg) ; 
	-ms-transform: skew(-12deg, 0deg);*/
	/*font-family:'Oswald';*/
	border-top:5px solid #CCC;
	padding-top:25px;
}
nav li a {font-size:15px; text-align:center; color:#F8f8f8; text-decoration:none; letter-spacing: 1px; vertical-align:baseline; font-weight:bold; text-shadow:1px 1px #333}

nav li.somos:hover {border-top:5px solid #da4f49;}
nav li.servicios:hover {border-top:5px solid #f89406;}
nav li.tarifas:hover {border-top:5px solid #FFCC00;}
nav li.contacto:hover {border-top:5px solid #66CC66;}
nav li.ovirtual:hover {border-top:5px solid #2f96b4;}

nav li.somos a:hover {color:#da4f49;}
nav li.servicios a:hover {color:#f89406}
nav li.tarifas a:hover {color:#FFCC00}
nav li.contacto a:hover {color:#66CC66}
nav li.ovirtual a:hover {color:#2f96b4;}

nav li.ovirtualActivo {border-top:5px solid #2f96b4;}
nav li.ovirtualActivo a {color:#2f96b4;}

footer {
	margin-top:15px;
	padding-top:15px;
	background-color:#000;
	border-top:3px #CCC solid;
	border-bottom:3px #CCC solid;
	min-height:190px;
	color:#FFF;
}	

#footerCont {width:1000px; margin:auto; }
#footerCont p { /*font-family:'Oswald', sans-serif; */}
#footerCont p a{font-size:12px; color:#FFF; text-decoration:none}
#footerCont p a:hover{color:#FFF; text-decoration:underline}