.parrafo_inicial_contratacion
{
	margin-left:10px;
	margin-right:30px;
	margin-top:20px;
	margin-bottom:20px;
}

.parrafo_contratacion
{
	margin-left:10px;
	margin-right:30px;
	margin-bottom:15px;
}

.imagen_contratacion
{
	margin-top:10px;
	margin-bottom:20px;
	text-align:center;
}

.flecha_texto_contratacion
{
	float:left;
	height:35px;
}

.parrafo_contratacion_enumeracion
{
	margin-left:50px;
	margin-right:30px;
	margin-bottom:20px;
}