/*Posicion en la que aparecen los campos del formulario de la seccion contratacion_ofertas_formulario*/
.posicion_formulario_ofertas
{
	margin-left:20px;
}

/*Estilo de las cabeceras del formulario de ofertas de la seccion contratacion_ofertas_formulario*/
.cabecera_formulario_ofertas
{
	font-size:14px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:15px;
	padding-bottom:5px;
	border-bottom:2px solid #4983f8;
}

/*Posicion del texto inicial de la seccion contratacion_ofertas_formulario*/
.texto_inicial_ofertas_formulario
{
	margin-top:20px;
	margin-bottom:20px;	
}

/*Define la posicion de cada columna del formulario de la seccion contratar_ofertas_formulario*/
.columna_formulario_oferta
{
	float:left;
}

/*Define la posicion de los textos del formulario en cada fila de la seccion contratacion_ofertas_formulario*/
.componente_formulario_texto
{
	width:280px;
	margin-top:11px;
	margin-bottom:18px;
	text-align:right;
	font-weight:bold;
}

/*Define la posicion de los campos de texto del formulario en cada fila de la seccion contratacion_ofertas_formulario*/
.componente_formulario_campo
{
	margin-top:10px;
	margin-bottom:9px;
	margin-left:20px;
}

/*Define la posicion del texto del formulario de la potencia contratada seccion contratacion_ofertas_formulario, ya que es un caso especial al tener que escribir los 6 periodos */
.componente_formulario_texto_potencia_contratada
{
	margin-top:44px;
}

/*Define la posicion de los campos del formulario de la potencia contratada seccion contratacion_ofertas_formulario, ya que es un caso especial al tener que escribir los 6 periodos */
.componente_formulario_campo_potencia_contratada
{
	margin-top:12px;
}

/*Define la posicion de los textos de los periodos tarifarios del formulario de ofertas en la seccion contratacion_ofertas_formulario*/
.componente_formulario_periodos_tarifarios
{
	font-weight:bold;
	margin-left:40px;
	margin-bottom:0px;
}

/*Posicion del boton del formulario de ofertas de la seccion contratacion_ofertas_formulario*/
.boton_formulario_ofertas
{
	margin-top:20px;
	text-align:center;
}

/*Define el estilo de las notas aclaratorias en el formulario de ofertas*/
.nota_campos_obligatorios
{
	margin-top:10px;
	margin-bottom:10px;	
	text-align:center;
	font-size:10px;
	font-weight:bold;
	color:#990000;
}

/*Posicion del enlace para volver desde la seccion contratacion/contratacion_ofertas_formulario a la seccion contratacion/contratar_ofertas*/
.enlace_volver_ofertas
{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}