/*Posicion de los campos CUPS, comercializadora y distribuidora en el apartado de contratacion de nuevo suministro, sin estar identificado en la oficina virtual*/
.posicion_campos_nuevo_cliente
{
	width:500px;
	margin-top:10px;
	margin-bottom:10px;	
}

/*Posicion de los textos de los campos CUPS, comercializadora y distribuidora en el apartado de contratacion de nuevo suministro, sin estar identificado en la oficina virtual*/
.posicion_textos_formulario_alta
{
	float:left;
	width:140px;
	margin-left:8px;
	margin-right:3px;
	margin-top:10px;	
}

.posicion_textos_formulario_alta_check
{
	float:left;
	width:280px;
	margin-left:8px;
	margin-right:3px;
	margin-top:10px;	
}

/*Posicion de los campos CUPS, comercializadora y distribuidora en el apartado de contratacion de nuevo suministro, sin estar identificado en la oficina virtual*/
.posicion_campos_formulario_alta
{
	float:left;
	width:320px;
	margin-top:10px;
}

.posicion_campos_formulario_alta_check
{
	float:left;
	width:320px;
	margin-top:10px;
}

/*Define el estilo de las etiquetas de los textbox en el apartado de contratacion de nuevo suministro, sin estar identificado en la oficina virtual*/
.texto_alta_formulario
{
	margin-bottom:19px;
}

/*Define el estilo de los campos de los textbox en el apartado de contratacion de nuevo suministro, sin estar identificado en la oficina virtual*/
.campo_alta_formulario
{
	margin-bottom:10px;
}

.campo_alta_formulario2
{
	margin-bottom:40px;
}