/*Define la posicion de la columna donde aparecen los textos de los terminos de potencia y terminos de energia*/
.posicion_termino_potencia
{
	float:left;
	font-weight:bold;
	width:175px;
}

/*Posicion del enlace apra volver desde la seccion contratacion/contratar electricidad/tarifas_detalles a la seccion contratacion/contratar electricidad/tarifas_detalles*/
.enlace_volver_tarifas_detalles
{
	text-align:center;
	margin-bottom:30px;
}

/*Define el estilo de la nota que aparece al final de la subseccion contratacion/contratar electricidad/tarifas_detalles*/
.parrafo_nota_tarifas_detalles
{
	margin-left:10px;
	margin-right:30px;
	margin-top:30px;
	margin-bottom:30px;
}
