/*Define la posicion de los textos del formulario en cada fila de la seccion contratacion_ofertas_formulario para internet explorer 7*/
.componente_formulario_texto
{
	margin-top:12px;
	margin-bottom:20px;
}

/*Define la posicion de los campos de texto del formulario en cada fila de la seccion contratacion_ofertas_formulario para internet explorer 7*/
.componente_formulario_campo
{
	margin-top:10px;
	margin-bottom:9px;
}

/*Define la posicion del texto del formulario de la potencia contratada seccion contratacion_ofertas_formulario, ya que es un caso especial al tener que escribir los 6 periodos, para intenet explorer 7*/
.componente_formulario_texto_potencia_contratada
{
	margin-top:43px;
}