.posicion_texto_contratacion_opcionescontratar
{
	float:left;
	width:455px;
	margin-left:10px;
	margin-top:30px;
	margin-right:30px;
}

.posicion_imagen_contratacion_opcionescontratar
{
	float:left;
	margin-top:20px;
}

.enlace_solicitud_suministro_contratacion_opcionescontratar
{
	text-align:center;
	margin-top:20px;
}