/*Estilo del icono del PDF en la seccion contratacion/contratar electricidad/tarifas*/
.icono_pdf_contratacion_tarifas
{
	float:left;
	padding-left:15px;
}

/*Estilo del texto del enlace al pdf de la seccion contratacion/contratar electricidad/tarifas*/
.enlace_pdf_contratacio_tarifas
{
	float:left;
	margin-top:3px;
	margin-left:10px;
	margin-right:30px;
	margin-bottom:20px;
}

/*Estilo del texto del enlace sin icono de PDF de la seccion contratacion/contratar electricidad/tarifas*/
.enlace_pdf_contratacio_tarifas_sin_pdf
{
	float:left;
	margin-top:3px;
	margin-left:15px;
	margin-bottom:20px;
}

/*Posicion donde aparecen todos los textos de la seccion contratacion/contratar electricidad/tarifas*/
.posicion_texto_contratacion_tarifas
{
	float:left;
	width:380px;
	margin-left:10px;
	margin-top:20px;
	margin-right:10px;
}

/*Posicion donde aparece la imagen de la seccion contratacion/contratar electricidad/tarifas*/
.posicion_imagen_contratacion_tarifas
{
	float:left;
	margin-top:60px;
}

/*Posicion del enlace apra volver desde la seccion contratacion/contratar electricidad/tarifas_detalles a la seccion contratacion/contratar electricidad/tarifas_detalles*/
.enlace_volver_tarifas_detalles
{
	text-align:center;
	margin-bottom:30px;
}

/*Define el estilo de la nota que aparece al final de la subseccion contratacion/contratar electricidad/tarifas_detalles*/
.parrafo_nota_tarifas_detalles
{
	margin-left:10px;
	margin-right:30px;
	margin-top:30px;
	margin-bottom:30px;
}
