/*Posicion de la fotografia del contenido de la seccion empresa descripcion*/
.foto_descripcion_empresa
{
	margin-top:4px;
	margin-bottom:20px;
}

/*Posicion del texto de la seccion descripcion*/
.texto_seccion
{
	margin-left:10px;
	margin-right:20px;
	margin-bottom:20px;
}