.texto_innovacion
{
	float:left;
	width:475px;
	margin-top:120px;
	margin-left:10px;
}

.imagen_innovacion
{
	float:left;
	margin-top:20px;
}

.texto_innovacion2
{
	margin-top:-80px;
}

.enumeracion_innovacion
{
	margin-left:10px;
	margin-right:30px;
	margin-bottom:20px;
}
