/*Posicion del icono de la empresa en la seccion de contacto*/
.icono_grande_contacto
{
	float:left;
	margin-top:120px;
	margin-left:120px;
	margin-right:50px;
	height:250px;
}

/*Posicion del texto en la seccion de contacto*/
.texto_contacto
{
	margin-top:30px;
}

.posicion_enlace_localizacion
{
	margin-left:300px;
}

.parrafo_contacto
{
	margin-bottom:5px;
}