/************************************************************************EMPRESA_MAPA********************************************************/
/********************************************************************************************************************************************/

.mapa_contacto
{
	width:740px;
	height:300px;
	margin-left:0px;
	margin-top:20px;
}

.enlace_mapa
{
	text-align:center;	
	margin-top:20px;
	margin-bottom:70px;		
}
/************************************************************************(FIN)EMPRESA_MAPA***************************************************/
/********************************************************************************************************************************************/