﻿/*Formulario Contacto*/
/*Formulario Oficina*/
/*Titulo en imagen añadido en el login*/
#tituloLogin{
	text-align:center;
	background-color:#578526;

	padding-left:10px;
}
label {
    display:block;
    margin-top:10px;
    letter-spacing:1px;
	height:10px;
}
form {
    margin:0 auto;
    width:270px;
}
 
#submit {
    width:85px;
    height:32px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

fieldset {
	border-radius:10px;
	background-color:#f0f0f0;
	border-color:#2f96b4;
	box-shadow:1px 1px 1px #999;
	color:#000
}
