/*CAMBIO!!!!!!*/
/***********************************************************ESTILOS DE TEXTO HOME*******************************************/
/***************************************************************************************************************************/

/*Estilo del texto que se encuentra en el interior del banner de la home*/
.texto_banner_home
{
	font-size:25px;
	color:#4983f8;
	font-weight:bold;
}

/*Estilo que centra un texto en una capa*/
.centrado
{
	text-align:center;
}

/*Estilo del menu de la home*/
.menu_home
{
	font-size:12px;
	font-weight:bold;
	color:#585755;
	text-decoration:none;
}

/*Estilo del menu de la home cuando tiene el cursor del raton por encima*/
.menu_home:hover
{
	color:#4983f8;
	cursor:pointer;	
}

/*Estilo de las descripciones de las secciones de la seccion HOME*/
.descripcion_menu_home
{
	margin-top:4px;
	padding-left:2px;
	padding-right:2px;	
	font-size:10px;
}

/***********************************************************(FIN)ESTILOS DE TEXTO HOME**********************************************/
/***********************************************************************************************************************************/

/*Posicion del banner de la cabecera de la home*/
.cabecera_home
{
	height:353px;
	margin-left:8px;
/*CAMBIO!!!!!!*/	
	background-image:url(../img/home/banner_home.jpg);
	background-repeat:no-repeat;
}

/*Posicion del logo de la empresa de la cabecera de la home*/
.logo_cabecera_home
{
	float:left;
	padding-top:17px;
	padding-left:20px;
}

/*Posicion del menu de los idiomas de la home. El color debe estar acorde con los colores predominantes de la web, o ser un color complementario*/
.menu_idiomas_home
{
	padding-top:10px;
	margin-left:700px;
}

/*Posicion del mensaje "realizado por audinfor" en la home*/
.realizado_audinfor_home
{
	margin-top:-2px;
	margin-left:653px;		
}

/*Posicion del logo de audinfor dentro del mensaje "realizado por audinfor"*/
.realizado_audinfor_home_logo
{
	float:left;
}

/*Posicion del texto dentro del mensaje "realizado por audinfor"*/
.realizado_audinfor_home_texto
{
	padding-top:6px;
}

/*Posicion de los logos de la W3C de la home*/
.logos_W3C_home
{
	margin-top:-10px;
	margin-left:80px;	
}

/*Posicion del texto que se superpone al banner de la home*/
.posicion_texto_banner_home
{
	width:630px;
	text-align:center;
	margin-top:21px;
	margin-left:290px;
}

/*Esta capa contendra a todos los elementos del menu de la home, y definira sus margenes*/
.contenedor_menu_home
{
	background-image:url(../img/home/menu_completo.jpg);
	height:228px;
}

/*Este estilo englobara la posicion de cada uno de los bloques que componene el menu de la home (titulo, filete y texto)*/
.componente_menu_home
{
	float:left;
	width:170px;
	margin-top:130px;
	margin-left:8px;
}

/*Este estilo definira el espacio existente entre los elementos del estilo anterior*/
.separacion_componentes_menu_home
{
	margin-left:22px;
}

/*Este estilo define la separacion entre el enlace de la seccion y su filete correspondiente*/
.filete_menu_home
{
	margin-top:2px;
}