/**************************************************ESTILOS PARA LA IMPRESION DEL CONTRATO EN INTERNET EXPLORER*********************************/

.dimensiones_contrato
{
	width:715px;
	margin-bottom:50px;
}

/*Parece que en internet explroer el estilo del texto de dentro de las tablas no hereda el estilo establecido para el "body", por lo tanto se ha tenido que asignar este estilo, exclusivo de explorer, en todas las etiquetas <td>"*/
.texto_contrato
{
	font-size:10px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan todo el ancho*/
.celda_completa
{
	width:700px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un quinto del ancho, pero la celda mas grande de todas.*/
.celda_quinto_grande
{
	float:left;
	width:200px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente el de las celdas largas*/
.celda_larga
{
	float:left;
	width:450px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan un quinto del espacio disponible*/
.celda_quinto_anexo_precios
{
	float:left;
	text-align:center;
	width:150px;
}

.columna_1_pagina_3_anexo_impresion_contrato
{
	float:left;
	width:330px;
	margin-top:20px;
	margin-right:30px;
}

.columna_2_pagina_3_anexo_impresion_contrato
{
	float:left;
	width:330px;
	margin-top:20px;	
}