/*Para la impresion el color de todos los textos sera negro*/
body
{
	color:#000000;
}

.padl
{

padding-left:40px;
}


.padl2
{

padding-left:100px;
}


.gris
{
background-color:#CCCCCC;
}


.texto_contrato
{
	font-size:10px;
}

.texto_contrato12
{
	
	font-size:12px;
	font-weight:bold;
}


.tabla_impresion_contrato
{
	border:1px solid #000000;
}

/*Estilo del titulo principal de la impresion del contrato*/
.titulo_impresion_contrato
{
	text-align:center;
	font-size:12px;
	font-weight:bold;
	margin-top:20px;
}

/*Estilo del titulo de los apartados de la impresion del contrato*/
.titulo_apartado_impresion_contrato
{
	font-size:11px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}

/*Define el ancho de las tablas de la impresion de contrato*/
.dimensiones_contrato
{
	width:720px;
	margin-bottom:50px;
}
/*Define los margenes establecidos para ela impresion del contrato*/
.margenes_impresion_contrato
{
	margin-left:10px;
}

/*Estilo de los bordes de las tablas de la impresion del contrato*/
.borde_contrato
{
	padding-left:10px;
	padding-right:10px;	
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente el de las celdas largas*/
.celda_larga
{
	float:left;
	width:300px;
}

.celda_larga_contrato
{
	float:left;
	width:400px;
}


/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente el de las celdas cortas*/
.celda_corta
{
	float:left;
	width:220px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan la mitad del ancho*/
.celda_mitad
{
	float:left;
	width:325px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un tercio del ancho*/
.celda_tercio
{
	float:left;
	width:208px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un tercio del ancho y se encuentran en ultimo lugar*/
.ultima_celda_tercio
{
	float:left;
	width:212px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan todo el ancho*/
.celda_completa
{
	width:672px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un cuarto del ancho y se encuentran en primer lugar*/
.celda_cuarto_1
{
	float:left;
	width:180px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un cuarto del ancho*/
.celda_cuarto_2
{
	float:left;
	width:126px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un cuarto del ancho y se encuentran en ultimo lugar*/
.ultimo_celda_cuarto
{
	float:left;
	width:120px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un quinto del ancho*/
.celda_quinto
{
	float:left;
	width:100px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un quinto del ancho, pero la celda mas grande de todas*/
.celda_quinto_grande
{
	float:left;
	width:183px;
}

/*Define el estilo de las celdas de la tabla de la impresion del contrato. Concretamente las que ocupan un quinto del ancho, pero la celda mas pequeña de todas*/
.celda_quinto_pequena
{
	float:left;
	width:80px;
}




/*Define el estilo de la letra explicativa de la impresion de la primera hoja del contrato*/
.texto_impresion_contrato
{
	margin-top:10px;
	font-size:10px;
}

/*Define el estilo de la fecha de contratacion en la zona justo anterior a las firmas*/
.fecha_contratacion_impresion_contrato
{	
	text-align:center;
	margin-top:10px;
}

/*Estos estilos definen la posicion del texto "El cliente" en la parte inferior del contrato*/
.firma_cliente_impresion_contrato
{
	float:left;
	margin-top:10px;
	margin-left:25px;
	margin-bottom:30px;
}

/*Estos estilos definen la posicion del texto del nombre de la empresa en la parte inferior del contrato*/
.firma_empresa_impresion_contrato
{
	float:left;
	margin-top:10px;
	margin-left:385px;
	margin-bottom:0px;	
}

/*Estos estilos definen la posicion del texto "Fdo.- El cliente" en la parte inferior del contrato*/
.fdo_cliente_impresion_contrato
{
	float:left;
	margin-top:90px;
	margin-left:25px;
	margin-bottom:20px;
}

/*Estos estilos definen la posicion del texto "Fdo.- La empresa" en la parte inferior del contrato*/
.fdo_empresa_impresion_contrato
{
	
	margin-top:0px;
	margin-left:480px;
	margin-bottom:20px;	
}

/*Estilo de los titulos de los subapartados de la pagina del anexo de precios de la impresion del contrato*/
.titulo_pequeno_anexo_precios
{
	font-size:10px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}

/*Define el tamaño de las tablas mas pequeñas del anexo de precios de la impresion del contrato*/
.tabla_pequena_anexo_precios
{
	width:600px;
	margin-left:50px;
	margin-right:50px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan 1/4 del espacio disponible*/
.celda_cuarto_anexo_precios
{
	float:left;
	text-align:center;
	width:100px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan 1/4 del espacio disponible, pero la que es mas larga*/
.celda_cuarto_larga_anexo_precios
{
	float:left;
	text-align:center;
	width:200px;
}

/*Define el estilo de los textos aclaratorios que hay bajo algunas de las tablas del anexo de precios en la impresion del contrato*/
.nota_anexo_impresion_contrato
{
	font-size:9px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan la mitad del espacio disponible*/
.celda_mitad_anexo_precios
{
	float:left;
	text-align:center;
	width:271px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan un tercio del espacio disponible*/
.celda_tercio_anexo_precios
{
	float:left;
	text-align:center;
	width:74px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan un tercio del espacio disponible*/
.celda_tercio_grande_anexo_precios
{
	float:left;
	text-align:center;
	width:78px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan un quinto del espacio disponible*/
.celda_quinto_anexo_precios
{
	float:left;
	text-align:center;
	width:90px;
}

/*Define el tamaño de las celdas de las tablas del acceso de precios. Concretamente de las que ocupan un quinto del espacio disponible, pero la celda mas grande*/
.celda_quinto_grande_anexo_precios
{
	float:left;
	text-align:center;
	width:115px;
}

/*Define la altura y la posicion de las cabeceras de la rabla de Energia reactiva que solo tienen una linea de texto, de esta manera se igualan las celdas*/
.cabecera_energia_reactiva_anexo_impresion_contrato
{	
	padding-top:7px;
	height:21px;
}

/*Define el tamaño de la tabla de complementos*/
.tabla_complementos_anexo_impresion_contrato
{
	width:400px;	
	margin-left:120px;
	margin-right:120px;
	height:15px;
}

/*Define donde aparece la tabla de Alquileres de equipos de medida al final de la segunda pagina (anexo de precios) de la impresion del contrato*/
.posicion_equipos_medida_anexo_impresion_contrato
{
	width:400px;
	margin-left:120px;
}

/*Define el tamaño de las celdas de las tablas del tamaño de la tabla de complementos. Concretamente de las que ocupan la mitad del espacio disponible*/
.celda_mitad_tabla_complementos_anexo_impresion_contrato
{
	float:left;
	width:172px;
}

.columna_1_pagina_3_anexo_impresion_contrato
{
	float:left;
	width:340px;
	margin-top:20px;
	margin-right:30px;
}

.columna_2_pagina_3_anexo_impresion_contrato
{
	float:left;
	width:340px;
	margin-top:20px;	
}

.parrafo_anexo_impresion_contrato
{
	font-size:9px;
	color:#333333;
	margin-bottom:10px;
}