/*Define las caracteristicas de las cabeceras de datos de los resumenes del contratos*/
.color_fondo_cabecera_contrato
{
	background-color:#999999;
	height:15px;
	padding-top:5px;
	padding-bottom:5px;
}

/*Define las caracteristicas de las celdas que contienen datos de los resumenes del contratos*/
.color_fondo_datos_contrato
{
	background-color:#CCCCCC;
	height:15px;	
	padding-top:5px;
	padding-bottom:5px;	
}