/*Define el margen que se le da a todos los enlaces de la lista de la seccion informacion enlaces*/
.posicion_enlaces_informacion_enlaces
{	
	margin-top:30px;
	margin-left:10px;
}

/*Define la separacion vertical entre logos de la seccion informacion enlaces*/
.enlace_informacion_enlaces
{
	margin-top:20px;
	margin-bottom:20px;
}

/*Define la posicion de la columna en la que aparecen los logos de la seccion informacion enlaces*/
.columna_logos_informacion_enlaces
{
	text-align:center;
	float:left;
	margin-right:0px;
}

/*Define la posicion de la columna en la que aparecen los logos de la seccion informacion enlaces*/
.columna_textos_informacion_enlaces
{
	float:left;
	margin-left:10px;
}

.imagen_informacion_enlaces
{
	float:left;
	margin-top:-330px;
	margin-left:485px;
}

.ree_texto_enlace_informacion_enlace
{
	margin-top:25px;
}

.cne_texto_enlace_informacion_enlace
{
	margin-top:25px;
}

.cide_texto_enlace_informacion_enlace
{
	margin-top:35px;
}

.ayuntamiento_texto_enlace_informacion_enlace
{
	margin-top:57px;
}

.gobierno_autonomico_texto_enlace_informacion_enlace
{
	margin-top:48px;
}