/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_contratacion
{
	margin-top:25px;
	margin-left:272px;
}


.contenido_seccion_oficina_cortes
{
	margin-top:0px;
	margin-left:272px;
}


/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_contratacion_no_registrado
{
	margin-top:0px;
	margin-left:272px;
}

.submenu_contratacion
{
	margin-top:10px;
	margin-bottom:10px;	
}

/*Define el estilo de los enlaces en el submenu de esta seccion*/
/*Este sera el estilo de los enlaces de la oficina virtual, sobreescribe los estilos principales*/
.enlace_submenu_contratacion
{
	font-size:13px;
	color:#0066FF;
	text-decoration:none;
}

/*Este sera el estilo de los enlaces normales de la web cuando tengan el cursor del raton encima, sobreescribe los estilos principales*/
.enlace_submenu_contratacion:hover
{
	font-size:13px;
	color:#0066FF;
	text-decoration:underline;
	cursor:pointer;
}

/*Define el estilo de la nota nates del pie*/
.nota_contratacion
{
	color:#990000;
}

/*Este estilo definira los espacios que se dejan entre un apartado y otro*/
.separacion_apartados
{
	margin-top:20px;
}

.fondo_bono_social
{
	margin-top:20px;
	background-color:#99FFCC;
	padding:10px;
}

.fondo_requerimientos
{
	margin-top:20px;
	background-color:#66FFFF;
	padding:10px;
}

/*Este estilo define el estilo del texto de la nota aclaratoria de la seccion contratacion_nuevosuministro cuando accede un usuario no registrado*/
.nota_suministro_no_registrado
{
	color:#FF3300;
}
/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/