/*************************************************************************DATOS TITULAR******************************************************/
/********************************************************************************************************************************************/
/*Posicicion del contenido de la seccion oficina datos del titular*/
.contenido_seccion_oficina_datos
{
	margin-top:15px;
	margin-left:260px;
	width:550px;
}


.contenido_ajustado
{
	/*margin-left:50px;*/
	/*width:550px;*/
	z-index:1;
	padding:5;
	border:1px solid #FFFFFF;	
}

/*Posiciona las etiquetas del formulario de datos del titular, pagador, factura, etc.*/
.margen_texto_titular
{
	width:100px;
	float:left;
	margin-left:20px;
	margin-top:0px;    /* 2 px */
	margin-bottom:5px; /* 10 px */
}

/*Posiciona las etiquetas del formulario de datos del titular, pagador, factura, etc. en las lineas en las que se encuentran el numero y el aclarador*/
.margen_texto_titular_extension
{
	width:75px;
	float:left;
	margin-left:10px;
	margin-top:0px;
	margin-bottom:5px;
}

/*Margen extra que se le aplica al campo del movil, que aparece en la misma linea que el telefono*/
.margen_campo_movil
{
	margin-left:60px;
}

.margen_campo_movil2
{
	margin-left:61px;
}


/*Posiciona los campos del formulario de datos del titular, pagador, factura, etc.*/
.margen_campo_titular
{
	float:left;
	margin-bottom:5px;
}


.margen_campo_titular_movil
{
	float:left;
	margin-bottom:0px;
	margin-left:20px;
}



/*Margen superior inicial que tienen los campos en el formulario de del titular, pagador, factura, etc.*/
.margen_superior_inicial_datos_titular
{
	margin-top:12px;
}

/*Margen superior inicial que tienen los campos en el formulario de del titular, pagador, factura, etc.*/
.margen_inferior_final_datos_titular
{
	padding-bottom:12px;
}

/********************************************************************************************************************************************/
/*************************************************************************(FIN)DATOS TITULAR**************************************************/