/************************************************************************LOGIN***************************************************************/
/********************************************************************************************************************************************/

/*Centra la pagina del login de la oficina para Mozilla*/
#central_login_oficina
{
	position:absolute;
	left: 50%;
	margin-left:-488px;
	top:0px;
	width:960px;
	z-index:1;
	padding:0;
	background-color: #FFF;
}

/*Como la seccion de identificacion de la oficina virtual es la unica que no tendrá el  submenu a la izquierda, tendra su propio estilo para el contenido*/
.contenido_seccion_oficina_index
{
	color: #FFF;
font-weight: bold;
}
/*Este estilo define la posicion del formulario de login de la oficina virtual*/
.posicion_login{
width: 222px;
margin-top: 75px;
margin-bottom: 20px;
margin-left: 365px;
padding-top: 10px;
border: 3px solid #FFF;
border-radius: 15px;
background: -webkit-linear-gradient(#4D6990, #003C58);
background: -o-linear-gradient(#4D6990, #003C58);
background: -moz-linear-gradient(#4D6990, #003C58);
background: linear-gradient(#4D6990, #003C58);
}

/*Este estilo define la separacion entre componentes del formulario de login de la oficina virtual*/
.componente_login
{
	margin-top:5px;
	margin-bottom:5px;
	padding-left:20px;
}

/*Este estilo define la posicion del boton del formulario del login*/
.boton_login
{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

/*Define la posicion del enlace a la seccion de recordar contraseña*/
.olvido_contrasena_login
{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

/*Define la posicion del enlace a la oficina virtual por usuarios no registrados*/
.enlace_no_registrado
{
	margin-bottom:50px;
	text-align:center;
}

/************************************************************************(FIN)LOGIN***********************************************************/
/********************************************************************************************************************************************/