/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_lecturas
{
	margin-top:40px;
	margin-left:325px;
}

/*FORMULARIO LECTURA UNICA (NUEVO)*/

/*Posiciciona las columnas del formulario de lecturas simples de la seccion del lecturas de la oficina virtual*/
.columna_formularios_lectura_simple
{
	float:left;	
	margin-top:10px;
	margin-right:20px;
}

/*Define la separacion entre las columnas del formulario de lecturas simples de la seccion del lecturas de la oficina virtual*/
.separacion_columnas_lecturas_simple
{
	margin-left:8px;
}

/*FIN FORMULARIO LECTURA UNICA (NUEVO)*/


/*FORMULARIO LECTURAS MULTIPLES (NUEVO)*/

/*Posiciciona las columnas del formulario de lecturas multiples de la seccion del lecturas de la oficina virtual*/
.columna_formulario_lecturas_multiples
{
	float:left;	
	margin-top:10px;
}

/*Define el margen que se deja antes de la primera columna del formulario de lecturas multiples de la seccion del lecturas de la oficina virtual*/
.margen_primera_columna_lecturas_multiples
{
	margin-left:5px;
}

/*Define la posicion de las cabeceras de las columnas con respecto a los demas elementos de la columna*/
.posicion_cabeceras_lecturas_multiples
{
	text-align:center;
	margin-bottom:10px;
}

/*Define la separacion entre las columnas del formulario de lecturas multiples de la seccion del lecturas de la oficina virtual*/
.separacion_columnas_lecturas_multiples
{
	margin-right:25px;
}

/*Define la separacion entre los textos de la primera columna del formulario de lecturas multiples de la seccion del lecturas de la oficina virtual*/
.separacion_textos_lecturas_multiples
{
	margin-bottom:14px;
}

/*Define la separacion entre los campos de texto de las columnas del formulario de lecturas multiples de la seccion del lecturas de la oficina virtual*/
.separacion_campos_lecturas_multiples
{
	margin-bottom:8px;
}

/*FIN FORMULARIO LECTURAS MULTIPLES (NUEVO)*/




/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/