/*************************************************************************CERTIFICADO CONSUMOS***********************************************/
/********************************************************************************************************************************************/

/*******************************************************MAQUETACION DE LA TABLA DE CERTIFICADO DE FACTURAS*********************************/
/******************************************************************************************************************************************/

/*Define el tamaño de las cabeceras de la primera fila de cabeceras de la tabla de certificados de facturas*/
.cabecera_periodo_certificado_factura
{
	float:left;
	text-align:center;
	width:90px;
}

.cabecera_periodo_certificado_factura_fecha
{
	float:left;
	text-align:center;
	width:70px;
	
	
}

.cabecera_periodo_certificado_factura_periodo
{
	float:left;
	text-align:center;
	width:170px;
	
	
}

.tablacertiffact
{
	
	text-align:center;
	width:90px;
	height:15px;
	margin-left:00px;
	margin-bottom:3px;
	margin-top:0px;
	
}

/*Define el tamaño de las celdas de la primera fila de datos de la tabla de certificados de facturas*/
.fondo_datos_certificado_factura
{
	float:left;
	text-align:center;
	width:90px;
	height:15px;
	margin-bottom:3px;
	margin-top:0px;
}
.fondo_datos_certificado_factura_fecha
{
	float:left;
	text-align:center;
	width:70px;
	height:15px;
	margin-bottom:3px;
	margin-top:0px;
}

.fondo_datos_certificado_factura_periodo
{
	float:left;
	text-align:center;
	width:170px;
	height:15px;
	margin-bottom:3px;
	margin-top:0px;
}

/*Define el tamaño de la celda donde se muestra la infomacion del campo "serie" de la primera fila de datos de la tabla de certificados de facturas. Como es mas corto que los demas, para igualar los anchos con el resto de la tabla, este campo se hace algo mas pequeño*/
.fondo_datos_serie_certificado_factura
{
	float:left;
	text-align:center;
	width:100px;
	height:15px;
	margin-bottom:3px;
	margin-top:0px;
}

/*Define el tamaño de las cabeceras donde se muestran los totales de cada factura en la tabla de certificados de facturas*/
.cabecera_totales_certificado_factura
{
	float:left;
	text-align:center;
	width:200px;
}

/*Define el tamaño de la cabecera donde se muestran el importe total de cada factura en la tabla de certificados de facturas. Se ha seleccionado este porque los numeros seran mayores que los demas totales*/
.cabecera_importe_total_certificado_factura
{
	float:left;
	text-align:center;
	width:200px;
}

/*Define el espacio que se deja entre una factura y otra en la tabla de certificado de facturas tanto en internet explorer 8 como en mozilla*/
.separacion_certificado_facturas
{
	margin-bottom:25px;
}

.submenu_filete_lineas_factura
{
	float:left;
	height:1px;
	background-color:#4ca3f3;
	margin-top:2px;
	border:0px;
	
}

/*Define la posicion del mensaje de error que se muestra por pantalla cuando no hay facturas que mostrar en el intervalo escrito por el usuario*/
.error_no_registros_consumos
{
	width:600px;
	text-align:center;
	font-weight:bold; 
	color:#FF0000;
	margin-bottom:15px;
}

/******************************************************************************************************************************************/
/******************************************************(FIN) MAQUETACION DE LA TABLA DE CERTIFICADO DE CONSUMOS******************************/

/*************************************************************************(FIN)CERTIFICADO CONSUMOS******************************************/
/********************************************************************************************************************************************/