/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Estilo del texto explicativo de las diferentes partes de la factura*/
.texto_imagen_ampliada
{
	font-size:14px;
	text-align:center;
	font-weight:bold;
	color:#000;	
}
/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/