/************************************************************************LOGIN***************************************************************/
/********************************************************************************************************************************************/

/*Posicion del contenido de la seccion de presentacion de la oficina virtual*/
.contenido_seccion_oficina_presentacion
{
	text-align:center;
	margin-top:17px;
}


.contenido_seccion_oficina_presentacionb
{
	width: 400 px;
	text-align:center;
	margin-top:30px;
}
/*Posicion del titulo de la seccion presentacion de la oficina virtual*/
.posicion_titulo_seccion
{
	text-align:left;
	margin-left:220px;
}

/*Estilo de texto de la franja superior del contenido de la seccion de presetancion de la oficina virtual*/
.titulo_seccion
{
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:18px;
	font-weight:bold;
	background-color:#003C58;
	color:#FFFFFF;
	
}

.texto_presentacion
{
	font-size:14px;
}

/************************************************************************(FIN)LOGIN***********************************************************/
/********************************************************************************************************************************************/