/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_incidencias
{
	width:650px;
	margin-top:30px;
	margin-left:270px;
}

/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/