/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_contratacion_social
{
	width:600px;
	margin-top:40px;
	margin-left:300px;
}

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_contratacion_social_sin_registrar
{
	width:600px;
	margin-top:20px;
	margin-left:300px;
}

/*Define la posicion del titulo de la seccion contratacion social*/
.titulo_seccion_oficina_contratacion_social
{
	text-align:center;
	margin-bottom:20px;
}

/*Define el estilo de la explicacion inicial de la seccion contratacion social*/
.texto_seccion_oficina_contratacion_social
{
	font-size:12px;
	margin-bottom:20px;
}

/*Define la separacion entre una comercializadora y otra en el listado de la seccion contratacion social*/
.comercializadoras_seccion_oficina_contratacion_social
{
	margin-top:10px;
	margin-bottom:10px;
}

/*Define la posicion del enlace para volver a la seccion anterior*/
.volver_seccion_oficina_contratacion_social
{
	text-align:center;
	margin-top:30px;
}

/*Este sera el estilo de los enlaces de la oficina virtual, sobreescribe los estilos principales*/
.enlace_bono_social
{
	font-size:14px;
	font-weight:bold;
	color:#0066FF;
	text-decoration:none;
}

/*Este sera el estilo de los enlaces normales de la web cuando tengan el cursor del raton encima, sobreescribe los estilos principales*/
.enlace_bono_social:hover
{
	color:#0066FF;
	cursor:pointer;
	text-decoration:underline;	
}

/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/
