/*************************************************************************ESTILOS OFICINA VIEJA**********************************************/
/*******************************************************************************************************************************************/


/*ESTILOS DE LA SECCION DATOS GENERALES/ASOCIADOS A LA INSTALACION*/

/*Titulos de las seccioes*/
.arialblack18Titulo
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 22px;
	font-weight: bold;
	/*font-variant: small-caps;*/
	/*color: #DB0100;*/
	color: rgba(153, 0, 0, 1);
	letter-spacing: 0px;
}

/*Primer parrafo de texto de la seccion*/
.arial12
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#255F75;
}

.arial12b
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#255F75;
}



/*Segundo parrafo de texto de la seccion*/
.arial12Importante
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#990000;
}

.arial12Importanteb
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	font-weight: bold;

	text-decoration: none;
	color:#000;
}


/*Estilo de los textos de las etiquetas de los formularios*/
.arial14
{

	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: normal;
/*LALALA*/
	color:#585755;
}

.arial14b
{

	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 15px;
	font-weight: bold;
	color:#585755;
}


/*Estilo de los campos de texto de los formularios que tienen el texto centrado*/
.textfieldCentrado
{	
	border: 1px solid #6699CC;
	/*height: 18px;*/
	text-align: center;	
	/*
	background-color: rgba(69, 106, 153, 1);
    border: 1px solid #6699cc;
    height: 18px;
    text-align: center;
    */
}

.textfieldCentrado2
{
	/*
	border: 1px solid #003C58;
	height: 18px;
	text-align: center;
	background-color: #02A89E;
	color: #FFF;
	*/	
	background-color: rgba(229, 9, 21, 1);
    border: 1px solid rgba(229, 9, 21, 1);
    color: #fff;
    height: 18px;
    text-align: center;
}

.textfieldCentrado3
{
	/*font-size: 10px;*/
	border: 1px solid rgba(0, 0, 0, 0.3);
	/*height: 15px;*/
	text-align: center;
	background-color:#CCCCCC;
}

/*Estilo de los titulos de los apartados*/
.arialblack14
{
	background-color: rgba(69, 106, 153,1);
	/*background: rgba(0, 0, 0, 0) linear-gradient(rgba(69, 106, 153,1), #003c58) repeat scroll 0 0;*/
	border-radius: 5px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	padding: 3px 7px;
	border-bottom: 1px solid #999;
}

/*Estilo de algunos campos de texto, principalmente lo largos*/
.textfield
{
	padding-left:5px;
	border: 1px solid #6699CC;
	height: 20px;
}


.textfieldnum
{
	padding-right:5px;
	text-align:right;
	border: 1px solid #6699CC;
	height: 20px;
}
/*Titulo de cabeceras de los consumos de la seccion*/
.times12Azul4
{
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:11px;
	color:#044B65;
	font-weight:bold;
}

.cifra
{
padding-right:10px;
	}


/*Estilo de los meses y demas componentes de las tablas de consumos*/
.arial12black2
{

	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	font-weight: bold;
}

/*Estilo de los datos de la tabla de consumos*/
.arial12Gris
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: bold;
	color: #071F41;
	padding-right:7px;
}

/*ESTILOS DE LA SECCION DATOS GENERALES/ASOCIADOS A LA INSTALACION*/

/*Textos del formulario de la pantalla de cambio de contraseña*/
.arial12black
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	font-weight: bold;
	color:#255F75;
}

/*Texto del formulario de sugerencias*/
.arial11
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#255F75;
}

.vis1
{
	visibility:visible;
}

.vis2
{
	visibility:hidden;
}



.textfieldLecturaNum
{
	padding-right:5px;
	text-align:right;

	/*height: 18px;*/
	background-color: #DDDDDD;
}

.arial11black
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	font-weight: bold;
}

.cifra
{ padding-right:10px;}

.arial12Negro
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;

}
.arial10Negro
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#000000;

}


.arial12Negrob
{
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 11px;
	font-weight: bold;

}
.textfieldLectura
{
	background-color:#CCCCCC;
	vertical-align:middle;
	padding-left:5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.textfieldLecturaNum
{
	text-align:right;
	background-color:#CCCCCC;
	vertical-align:middle;
	padding-right:5px;
	border: 1px solid rgba(0, 0, 0, 0.3)
}


.textfieldLecturaImporte
{
	text-align:right;
	font-size: 12px;
	background-color:#AAD5FF;
	vertical-align:middle;
	padding-right:5px;
	height:16px;
	border: 0px solid #488DF4;
	color:#333333;
}


.textfieldLecturaImporteSeleccionado
{
	font-size: 14px;
	text-align:right;
	background-color:#5BADFF;
	vertical-align:middle;
	padding-right:5px;
	height:20px;
	border: 2px solid #488DF4;
}

.textfieldLecturaCentrado
{
	text-align:center;
	background-color:#CCCCCC;
	vertical-align:middle;
	padding-left:5px;
	border: 1px solid rgba(0, 0, 0, 0.3)
}

/********************************************************************(FIN)ESTILOS OFICINA VIEJA**********************************************/
/*******************************************************************************************************************************************/