/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Define la posicion del contenido de la seccion modificacion / datos de suministro*/
.contenido_seccion_oficina_modificacion_suministro
{
	width:600px;
	margin-top:15px;
	margin-left:300px;
}

/*La parte en la que se muestran los datos se divide en 3 columnas, este es el estilo de las columnas*/
.columna_modificacion_suministro
{
	float:left;
}

/*Se aplica a la primera columan para igualar en altura los textos de la primera columna con los campos de las demas*/
.separacion_cabecera
{
	margin-top:30px;
}

/*Posicion de los textos de la primera columna*/
.componente_columna_modificacion_suministro_texto
{
	margin-bottom:19px;
	margin-left: -30px;
}

/*Separacion entre las columnas*/
.separacion_columnas
{
	margin-left:15px;
}

.separacion_columnass
{
	margin-left:35px;
}

/*Estilo y posicion de la cabecera de las columnas*/
.cabecera_columnas
{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
}

/*Posicion de los campos que muestran los datos actuales del usuario en la segunda columna*/
.componente_columna_modificacion_suministro_campo_mostrar
{
	margin-bottom:15px;
}

/*Posicion de los campos que muestran campos para cambiar los datos actuales del usuario en la tercera columna*/
.componente_columna_modificacion_suministro_campo
{
	margin-bottom:15px;
}

/*Define el estilo de los campos que muestran los datos actuales del usuario*/
.mostrar_datos
{
	font-size:10px;
	text-align:center;
}

.mostrar_datos_lectura
{
	/*font-size:10px;*/
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-align:center;
	background-color:#CCCCCC;
}

/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/