
/*************************************************************************(FIN)MENU OFICINA**************************************************/
/********************************************************************************************************************************************/

/*Posicion del contenido de la seccion de cambio de password*/
.contenido_seccion_oficina_cambio_pass
{
	margin-top:40px;
	margin-left:335px;
}

/*Posicion del formulario de cambio de password*/
.posicion_cambio_pass
{
	width:250px;
	margin-top:30px;			
	margin-left:180px;
	padding-top:10px;
	border:3px solid #2d77c2;
}

/*Este estilo define la separacion entre componentes del formulario del cambio de contraseņas de la oficina virtual*/
.componente_cambio_pass
{
	margin-top:5px;
	margin-bottom:5px;
	padding-left:20px;
}

/*Este estilo define la posicion del boton del formulario de cambio de contraseņa*/
.boton_cambio_pass
{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
