/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_infofactura
{
	margin-top:40px;
	margin-left:240px;
}

.titulo_seccion_oficina_infofactura
{
	text-align:center;
}

.texto_seccion_oficina_infofactura
{
	margin-top:20px;
	margin-bottom:30px;
	margin-right:20px;
}

.factura_seccion_oficina_infofactura
{
	margin-left:40px;
	margin-bottom:20px;	
}
/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/