/************************************************************************LOGIN***************************************************************/
/********************************************************************************************************************************************/

/*Como la seccion de identificacion de la oficina virtual es la unica que no tendrá el  submenu a la izquierda, tendra su propio estilo para el contenido*/
.contenido_seccion_oficina_recordar
{
	margin-top:40px;
}
/*Este estilo define la posicion del formulario de login de la oficina virtual*/
.posicion_recordar
{
	color:#FFF;
	font-weight:bold;
	width:430px;
	margin-top:40px;			
	margin-bottom:75px;				
	margin-left:262px;
	padding-top:10px;
	border: 3px solid #FFF;
	border-radius: 15px;
	background: linear-gradient(#4D6990, #003C58) repeat scroll 0% 0% transparent;
}

/*Este estilo define la separacion entre componentes del formulario de login de la oficina virtual*/
.componente_recordar
{
	margin-top:5px;
	margin-bottom:5px;
	padding-left:20px;
}

.boton_recordar
{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.enlace_volver_recordar
{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.texto_recordar
{
	width:600px;
	margin-left:180px;
	text-align:justify;	
}

/************************************************************************(FIN)LOGIN***********************************************************/
/********************************************************************************************************************************************/