/************************************************************************SUGERENCIAS*********************************************************/
/********************************************************************************************************************************************/

/*Como el contenido de las secciones de la oficina virtual tiene elementos a la derecha debera de cambiar el estilo con respecto a la web*/
.contenido_seccion_oficina_modificacion_datosbancarios
{
	/*text-align:center;*/
	margin-top:15px;
	margin-left:250px;
}

.texto_advertencia
{
	text-align:center;
	font-weight:bold;
	color:#FF0000;
	padding-bottom:20px;
}
/************************************************************************(FIN)SUGERENCIAS************************************************/
/********************************************************************************************************************************************/