/*************************************************************************CERTIFICADO CONSUMOS***********************************************/
/********************************************************************************************************************************************/

.contenido_seccion_oficina_informacion_certificado_consumos

{
	width: 600px;
	margin-top:30px;
	margin-left:300px;
}
.linea
{
	height:5px;
	background-color:#000000;
	
}

/*Este estilo definira los anchos de las tablas en las que se muestran los consumos en firefox*/
.tabla_datos_certificado_consumos
{
	width: 600px;
}
.tabla_datos_certificado_consumosb
{
	width: 650px;
}

/*Define el ancho de la tabla que contiene el formulario de solicitud del certificado de consumo en firefox*/
.tabla_formulario_solicitud_certificado_consumo
{
	width:500px;
}

/*Define el estilo y posicion del mensaje de error que aparece cuando no hay consumos que mostrar*/
.error_no_registros_consumos
{
	width:600px;
	text-align:center;
	font-weight:bold; 
	color:#FF0000;
}

/*******************************************************MAQUETACION DE LA TABLA DE CERTIFICADO DE CONSUMOS*********************************/
/******************************************************************************************************************************************/

/*Define el tamaño que tendrán las fichas de los resumenes de los contratos*/
.estructura_consumo{width:600px;}
.estructura_consumo2{width:750px;}
.estructura_consumo2{width:700px;}
.alto{height:20px;}
.alto2{height:30px;}
.px {width:70px; text-align:center; border:0;}
.per{width:100px; text-align:center; border:0;}
.per2{width:110px; text-align:left; border:0; padding-left:5px;}
.con{width:100px; text-align:center; border:0;}
.colfondo{ background-color:#CCCCCC;}
.paddingright{ padding-right:10px;}

.cabecera_periodo_certificado_consumo
{
	float:left;
	text-align:center;
	width:160px;
	
}

.cabecera_tipo_consumo_certificado_consumo
{
	float:left;
	text-align:center;
	width:100px;

}

.fondo_datos_periodo_certificado_consumo
{
	float:left;
	text-align:center;
	width:160px;
	height:20px;
	
}


.fondo_datos_tipo_certificado_consumo
{
	float:left;
	text-align:center;
	width:100px;
	height:20px;

	
}


.fondo_datos_periodo_certificado_consumo_fecha
{
	float:left;
	text-align:center;
	width:70px;
	height:20px;

	
}

.fondo_datos_periodo_certificado_consumo_tipo
{
	float:left;
	text-align:center;
	width:60px;
	height:20px;
	
	
}

.posicion_datos_periodo_certificado_consumo
{
	text-align:right;
	padding-top:0px;
	/*padding-right:10px;*/
}

.fondo_cabecera_periodos_tarifarios_certificado_consumo
{
	float:left;
	text-align:right;
	width:53px;
	
	
	
}

.fondo_cabecera_periodos_tarifarios_certificado_consumo_fecha
{
	float:left;
	text-align:center;
	width:60px;
	
}

.fondo_cabecera_periodos_tarifarios_certificado_consumo_tipo
{
	float:left;
	text-align:center;
	width:60px;
	
	
}



.datos_periodos_tarifarios_certificado_consumo
{
	float:left;
	text-align:center;
	width:52px;
	height:20px;
	
}

/*Define el ancho de la franja de los totales de la tabla de certificado de consumos*/
.cabecera_totales_certificado_consumo
{
	float:left;
	text-align:center;
	width:300px;
}

.posicion_totales_certificado_consumo
{
	float:left;
	padding-left:110px;
}

/*Define el ancho de la franja donde se encuentra el boton de impresion*/
.cabecera_imprimir_certificado_consumo
{
	width:600px;
}

.posicion_boton_imprimir_certificado_consumo
{
	float:left;
	padding-left:435px;
}

.posicion_texto_imprimir_certificado_consumo
{
	float:left;
	padding-top:0px;
	padding-left:1px;
}

/******************************************************************************************************************************************/
/******************************************************(FIN) MAQUETACION DE LA TABLA DE CERTIFICADO DE CONSUMOS******************************/

/*************************************************************************(FIN)CERTIFICADO CONSUMOS******************************************/
/********************************************************************************************************************************************/