/*ESTA HOJA DE ESTILO CONTIENE LAS CORRECCIONES NECESARIAS PARA LA CORRECTA VISUALIZACION DE LAS SECCIONES EN INTERNET EXPLORER 7*/
/*Este estilo centrara la web en pantalla en secciones cortas, ya que si el contenido desborada la pantalla, este se desplaza. Sirve para Explorer 7*/
#central_seccion_corta
{
	position:absolute;
	left: 50%;
	margin-left:-472px;
	top:0px;
	width:960px;
	z-index:1;
	padding:0;
	border:0;
	border:1px solid #FFFFFF;
}

/*Centra la pagina del login de la oficina para IE 7*/
#central_login_oficina
{
	position:absolute;
	left: 50%;
	margin-left:-472px;
	top:0px;
	width:960px;
	z-index:1;
	padding:0;
	border:1px solid #FFFFFF;
}

/*Esta capa centra el contenido de la web de la oficina virtual para Mozilla e IE 7*/
#central_oficina
{
	position:absolute;
	left: 50%;
	margin-left:-472px;
	top:0px;
	width:960px;
	z-index:1;
	padding:0;
	border:1px solid #FFFFFF;
}

/*Estilo del filete que sigue a la cabecera del submenu de las secciones*/
.submenu_filete_superior
{
	margin-top:9px;
}

/************************************************************************EMPRESA_DESCRIPCION*************************************************/
/********************************************************************************************************************************************/

/*Posicion de la fotografia del contenido de la seccion empresa descripcion*/
.foto_descripcion_empresa
{
	margin-right:-10px;
}
/************************************************************************(FIN)EMPRESA_DESCRIPCION********************************************/
/********************************************************************************************************************************************/

/*Posicion del logo de audinfor de la parte inferior izquierda de la pantalla*/
.pie_logo
{
	margin-top:0px;	
}