﻿#oficinaVirtual{
	width:400px;
	height:280px;
	margin-left:30%;
	margin-top:8%;
	background-color:#030;	
	border-radius:10px 10px 10px 10px ;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	padding-top:20px;

}

#oficinaVirtual h3{
	text-align:center;
	color:#FFF;	
}

/*Submenu oficina*/
/*Estilo de texto de la cabecera del submenu de las secciones*/
.submenu_titulo
{
	font-size:16px;
	font-weight:bold;
	color:#578526;
	margin-left:50px;
	margin-top:6px;
}

/*Estilo de texto de la cabecera del submenu de la seccion informacion. Este es un caso especial debido al tamaño del texto*/
.submenu_titulo_informacion
{
	font-size:15px;
	font-weight:bold;
	color:#205FA6;
	margin-left:50px;
	margin-top:-4px;
}

/*Estilo del filete que sigue a la cabecera del submenu de las secciones*/
.submenu_filete_superior
{
	height:1px;
	max-width:92%;
	
	margin-left:9px;
	margin-bottom:20px;
}


.submenu_filete_intermenu
{
	height:1px;
	max-width:92%;
	/*background-color:#f0f0f0;*/
	margin-top:-6px;
	margin-bottom:3px;
	border:0px;
}


.submenu_filete_pie
{
	height:1px;
	max-width:100%;
	background-color:#CCCCCC;
	margin-top:0px;
	margin-bottom:0px;
	border:0px;
	text-align:center;
}

.submenu_filete_pie2
{
	height:1px;
	max-width:100%;
	background-color:#CCCCCC;
	margin-top:0px;
	margin-bottom:0px;
	border:0px;
	text-align:center;
}



/*Estilo del filete que marca el final del submenu en la parte izquierda de las secciones*/
.submenu_filete_inferior
{
	height:1px;
	background-color:#4ca3f3;
	margin-top:20px;
	border:0px;
}

/*Estilo de texto de los submenus de las secciones*/
.submenu
{
	font-size:11px;
	text-decoration:none;
	 /*text-shadow: 1px 1px 1px #000;		*/
}
a.submenu
{
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	 /*text-shadow: 1px 1px 1px #000;		*/
}

/*Estilo de texto de los submenus de las secciones cuando tienen el cursor encima*/
.submenu:hover
{
	font-size:12px;
	text-decoration:underline;
	cursor:pointer;
	color:#578526;
}

/*Estilo de texto del submenus de la seccion activa*/
.submenu_seleccionado
{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

/*Estilo de texto de los sub-apartados de cada subseccion*/
.submenu_subseccion
{
	font-size:11px;
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*font-weight:bold;*/
	text-decoration:none;
	color:#292827;
	cursor:pointer;		
}

/*Estilo de texto de los sub-apartados de cada subseccion cuando tienen el cursor encima*/
.submenu_subseccion:hover
{
	font-size:11px;
	
	text-decoration:underline;
	color:#578526;
	cursor:pointer;
}

/*Estilo de texto del sub-apartado que este activo de la seccion activa*/
.submenu_subseccion_seleccionado
{
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#00376F;	
}

Estilo de texto de la franja superior del contenido de la seccion
.titulo_seccion
{
	
	font-size:18px;
	font-weight:bold;
	
	color:#FFFFFF;
}

.texto_presentacion
{
	font-size:14px;
	margin-left: 150px;
}

/*Estilo de texto del pie de la pagina*/
.pie
{
	height:20px;
	text-align:center;
	color:#ffffff;
	background-color:#205FA6;
}

/*Estilo de texto de los enlaces dentro del pie de la pagina*/
.enlace_pie
{
	color:#AAAAAA;
	text-decoration:none;
	font-weight:bold;	
}

/*Estilo de texto de los enlaces dentro del pie de la pagina cuando tienen el cursor encima*/
.enlace_pie:hover
{
	text-decoration:underline;
	cursor:pointer;
}

/***********************************************************(FIN)ESTILOS DE TEXTO SECCIONES************************************************************/
/*****************************************************************************************************************************************************/

/*Posicion del logo de la empresa cliente en la cabecera de las secciones*/
.logo_cabecera_seccion
{
	float:left;
	margin-top:0px;
}

/*Posicion de la foto personalizada de la seccion activa*/
.foto_cabecera_seccion
{
	margin-left:480px;
}

/*Posicion del menu superior de las secciones*/
.posicion_menu
{
	margin-top:-67px;
	/*margin-bottom:150px;*/
}

.posicion_menu img
{
	width:15px;
	opacity:0.5;
}
.idioma_marcado{opacity:1}

/*Define la posicion de cada componente del menu en su estado normal*/
.posicion_componente_menu
{
	float:left;
	width:166px;
	height:18px;
	background-image:url(../img/comun/pestana_menu.gif);
	background-repeat:no-repeat;
	text-align:center;
	padding-top:5px;
}

/*Define la posicion de cada componente del menu en su estado seleccionado*/
.posicion_componente_menu_seleccionado
{
	float:left;
	width:166px;
	height:18px;
	background-image:url(../img/comun/pestana_menu_marcada.gif);
	background-repeat:no-repeat;
	text-align:center;
	padding-top:5px;
}

/*Este estilo define el espacio que hay entre los componentes del menu superior de las secciones*/
.espacio_componente_menu
{
	margin-left:20px;
}

/*Posicion del menu idiomas dentro del menu superior de las secciones*/
.posicion_menu_idiomas
{
	margin-left:845px;
}

/*Posicion del filete que delimita el menu superior de las secciones*/
.filete_menu
{
	margin-top:-1px;
	height:0px;
	background-color:#2c76c1;
	border:0px;	
}

/*Posicion del submenu de la parte izquierda de las secciones*/
.posicion_submenu
{
	float: left;
width: 230px;
margin-top: 10px;
	
}

/*Posicion del icono de la seccion activa que aparece en la cabecera del submenu de las secciones*/
.posicion_icono_submenu
{
	float:left;
	margin-left:15px;
}

/*Define el espacio que hay entre componentes principales del submenu*/
.separacion_submenu
{
	margin-bottom:2px;
}

/*Define el espacio que hay entre un componente principal del submenu y sus subapartados*/
.separacion_submenu_apartados
{
	margin-bottom:7px;
}

/*Define el espacio que hay entre el ultimo subapartado y la siguiente componente principal del menu de la parte izquierda*/
.separacion_submenu_subseccion
{
	margin-bottom:2px;
}

/*Posicion de los puntos que preceden a los nombres de las subsecciones en el menu de la parte izquierda*/
.bolo_submenu
{
	float:left;
	margin-left:7px;
}

.bolo_submenu2
{
	float:left;
	margin-left:20px;
	margin-top:2px;
}

/*Posicion del texto en relacion al punto que lo precede en el menu de la parte izquierda*/
.posicion_submenu_texto
{	
	margin-left:27px;
	margin-top:-2px;
}

/*Posicion de los apartados de las subsecciones en el menu de la parte izquierda*/
.posicion_submenu_subseccion
{
	margin-left:35px;
}
