/*Este estilo definira los anchos de las tablas en las que se muestran los formularios de solicitud de facturas o certificados en Internet Explorer 7*/
.tabla_formulario_solicitudes
{
	width:490px;
}


/*Define el ancho de la tabla que contiene el formulario de solicitud del certificado de consumo en INternet Explorer 7*/
.tabla_formulario_solicitud_certificado_consumo
{
	width:613px;
}

/*Define el espacio que se deja entre una factura y otra en la tabla de certificado de facturas tanto en internet explorer 7*/
.separacion_certificado_facturas
{
	margin-bottom:5px;
}
