/*Este estilo definira los anchos de las tablas en las que se muestran los contratos en Internet Explorer*/
.tabla_datos_contratos_y_facturas
{
	width:530px;
}

/*Este estilo definira los anchos de las tablas en las que se muestran los formularios de solicitud de facturas o certificados en Internet Explorer*/
.tabla_formulario_solicitudes
{
	width:483px;
}

/*Define el ancho de la tabla que contiene el formulario de solicitud del certificado de consumo en INternet Explorer 8*/
.tabla_formulario_solicitud_certificado_consumo
{
	width:603px;
}