/* 
 * Style used by the label output mode.
 * Applied to the error labels that get positioned after an input.
*/
#mensajes{
	display:block;
}

.validity-tooltip {
	z-index:1;
	color: #F00;
	/*font-family: tahoma;*/
	font-size: 11px;
    font-size:13px;
    cursor:pointer;
	margin-bottom:3px;
	padding-left:5px;
	text-shadow: 0 0 6px #fff;
	border-radius: 6px;
	width:300px;
}

.validity-tooltip:hover {
    font-weight:bold;;
}

.validity-tooltip .validity-tooltip-outer, .validity-tooltip .validity-tooltip-inner {
    width:0; 
    height:0; 
    border-right-width: 0;
    background:none;
    bottom:auto;
}

.validity-tooltip .validity-tooltip-outer {	
    border-color:#333;
    border-style:solid;
    
    border-top: 0px solid transparent; 
    border-bottom: 0px solid transparent;
    
    border-right-width:0px;
    border-right-style:solid;
    border-right-color:inherit;
    
    border-left-width:0px;
}

.validity-tooltip .validity-tooltip-inner {
    border-top: 0px solid transparent; 
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left-width:0px;
}